/*Selector de Hijo*/

hgroup > h1{
    background: #4284c6;
}
/*Selector hermano Adyacente*/

p + a{
    background: #42c670;
}
p+a+a{
    background: #f7da3b;
}
/*Selector hermano General*/
a ~ p{
    background: #c64251;
}
