h1{
    text-shadow: black 6px 6px 8px;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
/*Selector de Hijo*/

hgroup > h1{
    background: #4284c6;
}
/*Selector hermano Adyacente*/

p + a{
    background: #42c670;
}
p+a+a{
    background: #f7da3b;
}
/*Selector hermano General*/
a ~ p{
    background: #c64251;
}
