/*Selector del Atributo separado por espacios*/
p[class~="documento"]{
    background: rgba(235, 235, 104, 0.75);
}
/*Selector de atributos separados por un guion*/
p[class |="documento_tres"]{
    background: #c642b2;
}
/*Selector de atributo Comienza con */
nav a[href^="http://"]{
    background: rgba(117, 198, 66, 0.79);
}
/*Selector de atributo Contiene*/
p[title*="titulo"]{
    background: #45fa24
}
div {
  background-clip: border-box;

  border: black 10px dotted;
  margin: 20px;
  padding: 20px;
    background-color: lightblue;
}
